.counter-wrapper {
  text-align: center;
  padding: 60px;
  .number {
    padding-bottom: 30px;
    font-size: 40px;
    color: $main-color;
  }
  .buttons > button {
    @include button-style();
  }
}
