.font-sizer {
  color: $main-color;
  text-align: center;
  div {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button {
    @include button-style();
    margin-bottom: 20px;
  }
}
