.hide-wrapper {
  text-align: center;
  position: relative;
  height: 400px;
  .text-box {
    margin-top: 100px;
    height: 200px;
    .text {
      font-size: 30px;
    }
  }
  button {
    position: absolute;
    right: 50%;
    @include button-style();
    width: 90px;
  }
}
